.box {
  width: 95px;
  height: 140px;
  border: 1px solid black;
}

.rightMargin {
  margin-right: 5px;
}

.scroll {
  overflow-y: auto;
}

.weekend {
  background-color: #f1f1f1;
  color: #46749d;
}

.number {
  margin-left: 1%;
  font-weight: bold;
}
