.box {
    width: 95px;
    height: 140px;
    border: 1px solid black;
}

.rightMargin {
    margin-right: 5px;
}
  
.scroll {
    overflow-y: auto;
}

.weekend {
    background-color: #F1F1F1;
    color:  #46749D;
}

.number {
    margin-left: 1%;
    font-weight: bold;
}